* text=auto eol=lf
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/40[[:space:]]workers[[:space:]]have[[:space:]]been[[:space:]]trapped[[:space:]]inside[[:space:]]a[[:space:]]collapsed[[:space:]]tunnel[[:space:]]in[[:space:]]India[[:space:]]for[[:space:]]over[[:space:]]a[[:space:]]week[[:space:]]and[[:space:]]3[[:space:]]attempts[[:space:]]to[[:space:]]drill[[:space:]]through[[:space:]]the[[:space:]]debris[[:space:]]have[[:space:]]failed[[:space:]]so[[:space:]]far.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/First[[:space:]]Image[[:space:]]of[[:space:]]Eddie[[:space:]]Murphy[[:space:]]in[[:space:]]Beverly[[:space:]]Hills[[:space:]]Cops[[:space:]]Axel[[:space:]]Foley.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/My[[:space:]]daughter[[:space:]]kept[[:space:]]asking[[:space:]]for[[:space:]]a[[:space:]]cat[[:space:]]The[[:space:]]answer[[:space:]]was[[:space:]]absolutely[[:space:]]not[[:space:]]I[[:space:]]didnt[[:space:]]expect[[:space:]]to[[:space:]]have[[:space:]]one[[:space:]]adopt[[:space:]]us[[:space:]]Her[[:space:]]name[[:space:]]is[[:space:]]Luna.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/Whats[[:space:]]a[[:space:]]random[[:space:]]fact[[:space:]]youre[[:space:]]just[[:space:]]waiting[[:space:]]to[[:space:]]bust[[:space:]]out.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/Gabe[[:space:]]Newell[[:space:]]on[[:space:]]making[[:space:]]Half-Lifes[[:space:]]crowbar[[:space:]]fun[[:space:]]We[[:space:]]were[[:space:]]just[[:space:]]running[[:space:]]around[[:space:]]like[[:space:]]idiots[[:space:]]smacking[[:space:]]the[[:space:]]wall.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/I[[:space:]]mean[[:space:]]it[[:space:]]kinda[[:space:]]is.mp4 filter=lfs diff=lfs merge=lfs -text
results/funny+askreddit+gaming+aww+worldnews+todayilearned+movies/TIL[[:space:]]that[[:space:]]South[[:space:]]Koreans[[:space:]]can[[:space:]]be[[:space:]]punished[[:space:]]for[[:space:]]using[[:space:]]cannabis[[:space:]]in[[:space:]]a[[:space:]]county[[:space:]]where[[:space:]]its[[:space:]]legal[[:space:]]upon[[:space:]]return[[:space:]]to[[:space:]]South[[:space:]]Korea.mp4 filter=lfs diff=lfs merge=lfs -text
